DB_UID=postgres
DB_PWD=12345678
DB_SERVER=localhost
DB_NAME=LISTAS_RESTRICTIVAS
DB_PORT=5432
NAME_ARCHIVO_CARGUE=planillareporte.xlsx
NAME_ARCHIVO_REPORTE=Reportemasivo.xlsx
NAME_ARCHIVO_REPORTE2=tabla.pdf
NAME_ARCHIVO_REPORTE3=tabla2.pdf

EMAIL=cristian0620943@gmail.com
CONTRASEÑA_EMAIL=xclixfmkcsqoqxkj
ENCRYPT=bcrypt
URLOFAC=http://127.0.0.1:8080/ListaOfac
URLONU=http://127.0.0.1:8080/ListaOnu
URLFBI=http://127.0.0.1:8080/ListaFbi
